<p>
  <%= @help_content %>
</p>

<%= form_tag triage_done_path, method: :get do |form| %>
  <%= hidden_field_tag :issue_type, @issue_type %>

  <p>
    Did that solve the problem?
    <%= submit_tag 'Yes', name: nil %>
    <%= submit_tag 'No', name: :no %>
  </p>
<% end %>
