<%= form_with scope: @repair, url: repairs_path do |form| %>
  <p>
    <%= form.label :issue_type %><br>
    <%= form.select :issue_type, options_for_select(sorted_issue_types.map { |t| [t[0].humanize, t[0]] }, @repair.issue_type) %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
