<p>
  <strong>Name:</strong>
  <%= @repair.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @repair.address %>
</p>

<p>
  <strong>Issue Type:</strong>
  <%= @repair.issue_type.humanize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @repair.status.humanize %>
</p>

<% if @repair.updates.any? %>
  <h2>Updates</h2>
  <%= render @repair.updates %>
<% end %>

<% if @admin %>
  <h2>Add an update:</h2>
  <%= render 'repair_updates/form' %>

  <%= form_tag triage_select_path, method: :get do |form| %>
    <p>
      <%= submit_tag 'New issue', name: nil %>
    </p>
  <% end %>
<% end %>
