<p>
  <strong>Name:</strong>
  <%= @repair.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @repair.address %>
</p>

<p>
  <strong>Issue Type:</strong>
  <%= @repair.issue_type.humanize %>
</p>

<p>
  <strong>Description:</strong>
  <%= @repair.description %>
</p>

<% if @admin %>
  <h2>
    Admin Only Fields
  </h2>

  <p>
    <strong>Status:</strong>
    <%= @repair.status.humanize %>
  </p>
<% else %>
  <%= form_tag triage_select_issue_type_path, method: :get do |form| %>
    <p>
      <%= submit_tag 'New issue', name: nil %>
    </p>
  <% end %>
<% end %>
