<!DOCTYPE html>
<html>
  <head>
    <title>Doberman</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if session[:logged_in] %>
        Logged in

        <% if session[:logged_in_as_admin] %>
          as admin
          <%= link_to 'All Repairs', repairs_path %>
        <% end %>

        <%= link_to 'Log out', auth_log_out_path %>
      <% else %>
        <%= link_to 'Log in', auth_log_in_path %>
        <%= link_to 'Log in as admin', auth_log_in_as_admin_path %>
      <% end %>
    </header>

    <%= yield %>
  </body>
</html>
